$pc: 1199px;
$tab: 991px;
$sp: 575px;
$xs: 380px;
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin xs {
  @media (max-width: ($xs)) {
    @content;
  }
}

html {
  background-color: #333;
  .contents {
    padding: 60px 0;
    background-color: #fff;
    .wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
    }
  }
  .cf {
    &::before, &::after {
      display: table;
      clear: both;
      content: '';
    }
  }
}
