$pc: 1199px;
$tab: 991px;
$sp: 575px;
$xs: 380px;
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin xs {
  @media (max-width: ($xs)) {
    @content;
  }
}

html {
  background-color: #333;
  .contents {
    padding: 60px 0;
    background-color: #fff;
    @include sp {
      padding: 40px 0;
    }
    .wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
    }
    h2 {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0.5px;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      line-height: 2;
      letter-spacing: 0.2px;
      @include sp {
        font-size: 14px;
      }
    }
  }
  .cf {
    &::before, &::after {
      display: table;
      clear: both;
      content: '';
    }
  }
}
